@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(6, 122, 50);
}
.invert{
   transform: rotate(180deg);
   display: inline-block;
}

.card{
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);

}
.symbol{
    font-size: 60px;
}
.number{
    font-size: 80px;
}